/* خلفية الصفحة */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('bg.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* الكارد الأبيض */
.card {
  width: 380px;
  background: #fff;
  padding: 40px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* أيقونات السوشيال */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 30px;
}

.social svg {
  width: 35px;
  height: 33px;
  cursor: pointer;
  transition: 0.2s;
}

.social svg:hover {
  transform: scale(1.1);
}

/* اللابل */
.lbl {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: 600;
  color: #a8a3a3;
  
}

/* الإنبت */
.inp {
  width: 100%;
  padding: 8px 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #a8a3a3;
  font-size: 15px;
  outline: none;
}

.inp:focus {
  border-bottom-color: #ff5b61;
}

/* Remember Password */
.remember {
  display: flex;
  margin-top:20px;
  align-items: center;
  gap: 8px;
  margin-bottom: 99px;
}

.chk-label {
  font-size: 14px;
  color: #a8a3a3;
}

/* زرار اللوج إن */
.btn-login {
  width: 300px;
  padding: 12px;
  background: linear-gradient(to right, #da1845, #ff884b);
  border: none;
  border-radius: 25px;
  color: #161515;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 35px;
  transition: 0.2s;
}

.btn-login:hover {
  transform: scale(1.03);
}

